!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!	GENERAL SETTINGS	!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
xft*dpi: 96
xft*antialias: 1
xft*hinting: 1
xft*rgba: rgb
xft*autohint: 0
xft*hintstyle: hintfull
xft*lcdfilter: lcddefault

! dzen2.font:       -*-fixed-*-*-*-*-*-*-*-*-*-*-*-*


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!	XTERM SETTINGS		!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
XTerm*Geometry: 84x23+0+0
XTerm*VT100.geometry: 80x32
XTerm*termName: xterm-256color
XTerm*locale: true
XTerm*selectToClipboard: true
XTerm*scrollTtyOutput: true
XTerm*scrollTtyKeypress: false
XTerm*ScrollKey: true
XTerm*jumpScroll: false
! XTerm*scrollBar: false
! XTerm*rightScrollBar: true
XTerm*buffered: true
XTerm*pointerBlank: true
Xterm*saveLines: 4096
XTerm*font: 9x15
XTerm*faceName: Liberation Mono:size=14:antialias=true:hinting=true
! XTerm*faceName: Source\ Code\ Pro\ for\ Powerline\ Regular:pixelsize=14:antialias=true:hinting=true,xft: Source\ Code\ Pro\ for\ Powerline\ Regular:pixelsize=14:antialias=true:hinting=true
! XTerm*background: #444444
XTerm*background: #303D44
XTerm*foreground: #FFFFFF
XTerm*borderWidth: 0


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!	UXTERM SETTINGS	!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
UXTerm*Geometry: 84x23+0+0
UXTerm*VT100.geometry: 80x32
UXTerm*termName: xterm-256color
UXTerm*locale: true
UXTerm*selectToClipboard: true
UXTerm*scrollTtyOutput: true
UXTerm*scrollTtyKeypress: false
UXTerm*ScrollKey: true
UXTerm*jumpScroll: false
UXTerm*buffered: true
UXTerm*pointerBlank: true
UXterm*saveLines: 4096
UXTerm*font: 9x15
UXTerm*faceName: Liberation Mono:size=14:antialias=true:hinting=true
! UXTerm*faceName: Source\ Code\ Pro\ for\ Powerline\ Regular:pixelsize=14:antialias=true:hinting=true,xft: Source\ Code\ Pro\ for\ Powerline\ Regular:pixelsize=14:antialias=true:hinting=true
! UXTerm*background: #444444
UXTerm*background: #303D44
UXTerm*foreground: #FFFFFF
UXTerm*borderWidth: 0


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!	URXVT SETTINGS		!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
URxvt*Geometry: 84x23+0+0
URxvt*termName: rxvt-unicode-256color
! URxvt*title: urxvt
URxvt.skipBuiltinGlyphs: false
! URxvt.loginShell: true
! URxvt*urgentOnBell: true
URxvt*background: #303D44
URxvt*foreground: #FFFFFF
URxvt*transparent: false
! URxvt*shading: 15
! URxvt.borderColor: #050505
URxvt.borderless: true
! URxvt.highlightColor: #a761c2
! URxvt.highlightTextColor: #151515
URxvt.cursorBlink: false
URxvt.cursorUnderline: false
! URxvt.cursorColor: #dedede
! URxvt.cursorColor2: #151515
URxvt.depth: 24
URxvt.internalBorder: 1
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollstyle: plain
! URxvt.scrollstyle: rxvt
! URxvt.scrollBar_floating: true
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
! URxvt.scrollColor: #ffffff
URxvt.jumpScroll: false
URxvt.buffered: true
URxvt.pointerBlank: true
URxvt.saveLines: 2048
URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true
URxvt.boldMode: true
! URxvt.clipboard.autocopy: true
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.underlineURLs:  true
! URxvt.colorUL: #4682B4
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.Control-Shift-V: perl:pasta:paste


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!	COLOR SCHEME	!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! black
*color0: #2d2d2d
*color8: #606060
! red
*color1: #993a3b
*color9: #c25e5f
! green
*color2: #82994f
*color10: #9bb26a
! orange
*color3: #d28445
*color11: #f4bf77
! blue
*color4: #5994ad
*color12: #7baabd
! magenta
*color5: #a06594
*color13: #b485aa
! cyan
*color6: #64aca0
*color14: #86beb4
! white
*color7: #d0d0d0
*color15: #f5f5f5


